
# Ignore hidden system files
*~
.DS_Store
*.DS_Store
*[Tt]humbs.db
*.Trashes


# Ignore node modules and errors
node_modules
npm-debug.log
yarn-error.log


# Ignore css & js output
**/assets/css/dist/*
**/assets/js/dist/*


# ignore htaccess
# httpdocs/.htaccess
