
/*
	default breakpoints
*/

@mobile: 30em; // 480px
@mobile-large: 40.625em; // 650px
@tablet-portrait: 48em; // 768px
@tablet-landscape: 64em; // 1024px
@desktop: 75em; // 1200px
@desktop-large: 90em; // 1440px

/*
	breakpoint-max sizes
	· used to stop the 1px overlay when doing `@media (max-width:@breakpoint) {}`
	· when using max-width breakpoints, use the `@breakpoint-max` version.
*/

@breakpoint-round: 0.01em;
@mobile-max: (@mobile - @breakpoint-round);
@mobile-large-max: (@mobile-large - @breakpoint-round);
@tablet-portrait-max: (@tablet-portrait - @breakpoint-round);
@tablet-landscape-max: (@tablet-landscape - @breakpoint-round);
@desktop-max: (@desktop - @breakpoint-round);
@desktop-large-max: (@desktop-large - @breakpoint-round);

/*
	list out all breakpoints that mixins should loops over (e.g. the grid system)
	· order @breakpoints from smallest to largest.
*/

@breakpoints: 'mobile', 'mobile-large', 'tablet-portrait', 'tablet-landscape', 'desktop', 'desktop-large';



