// forms

input[type=search],
input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea {
    -webkit-appearance: none;
    background: transparent;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-appearance: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}