
/*
	Usage
	
	.grid                  - container for floated columns
	.grid--inline          - container for inline block columns
	.grid--no-gutter       - remove gutter from grid
	.grid--flex            - remove gutter from grid
	.col-x                 - for columns at width x
	.col-x@breakpoint      - mobile-first column widths
	.col--right            - float column right
	.col--spacing-vertical - add equivalent vertical spacing to columns
*/

// default settings

@grid-columns: 12;
@grid-gutterwidth: 20px;
@grid-gutterwidth-large: 28px;
@grid-gutterwidth-breakpoint: @tablet-portrait;
@grid-columnwidth: 100%/@grid-columns;


// container styles

.grid {
	.clearfix;
	margin-left:-@grid-gutterwidth/2;
	margin-right:-@grid-gutterwidth/2;
}

.grid .grid {
	margin-left:-@grid-gutterwidth/2;
	margin-right:-@grid-gutterwidth/2;
}

.grid--no-gutter {
	.clearfix;
	margin-left:0;
	margin-right:0;
}

.grid--flex {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

	&:before, &:after {
		display:block;
	}
}

.grid--inline {
	.clearfix;
	font-family:monospace;
	letter-spacing:-.65em;
	margin-left:-@grid-gutterwidth/2;
	margin-right:-@grid-gutterwidth/2;
	text-align:left;
	display:block;
}


// column styles

[class*="col-"] {
	min-height:1px;
	float:left;
	padding-left:@grid-gutterwidth/2;
	padding-right:@grid-gutterwidth/2;
}

.grid--flex [class*="col-"] {
	@supports(display:flex) {
		float:none;
	}
}

.grid--inline [class*="col-"] {
	letter-spacing:normal;
	font-family:sans-serif;
	box-sizing:border-box;
	display:inline-block;
	*zoom:1;
	float:none;
	vertical-align:top;
}

.grid--no-gutter [class*="col-"] {
	padding-left:0;
	padding-right:0;
}

.col--right {
	float:right;
}

.col--spacing-vertical {
	margin-bottom:@grid-gutterwidth;

	@media(min-width:@grid-gutterwidth-breakpoint) {
		margin-bottom:@grid-gutterwidth-large;
	}
}


// desktop gutter sizes

@media(min-width:@grid-gutterwidth-breakpoint) {

	.grid {
		margin-left:-@grid-gutterwidth-large/2;
		margin-right:-@grid-gutterwidth-large/2;
	}

	.grid .grid {
		margin-left:-@grid-gutterwidth-large/2;
		margin-right:-@grid-gutterwidth-large/2;
	}

	.grid--no-gutter {
		margin-left:0;
		margin-right:0;
	}

	[class*="col-"] {
		padding-left:@grid-gutterwidth-large/2;
		padding-right:@grid-gutterwidth-large/2;
	}
}


// generate .col-x@breakpoint classes

.for(@grid-columns, {

	.col-@{i} {
		width:@grid-columnwidth * @i;
	}

	.offset-@{i} {
		margin-left:@grid-columnwidth * @i;
	}
});


.for-n-per-breakpoint(@grid-columns, {
	.col-@{i}\@@{breakpoint} {
		width:@grid-columnwidth * @i;
	}
	
	.offset-@{i}\@@{breakpoint} {
		margin-left:@grid-columnwidth * @i;
	}
});


// grid flex styles

.grid--flex-justify-start {
	justify-content:flex-start;
}

.grid--flex-justify-end {
	justify-content:flex-end;
}

.grid--flex-justify-center {
	justify-content:center;
}

.grid--flex-justify-space-between {
	justify-content:space-between;
}

.grid--flex-justify-space-around {
	justify-content:space-around;
}

.grid--flex-justify-space-evenly {
	justify-content:space-evenly;
}

.grid--flex-align-start {
	align-items:flex-start;
}

.grid--flex-align-end {
	align-items:flex-end;
}

.grid--flex-align-center {
	align-items:center;
}

.grid--flex-align-baseline {
	align-items:baseline;
}

.grid--flex-align-stretch {
	align-items:stretch;
}

.grid .grid--no-gutter {
	margin-left:0;
	margin-right:0;
}