/*
    Usage
    
    .page-{margin|padding}-{top|right|bottom|left}
    .page-{margin|padding}-{top|right|bottom|left}--small
    .page-{margin|padding}-{vertical|horizontal}
    .page-{margin|padding}-{vertical|horizontal}--small
    .page-inset
*/


// default settings 

@page-maxwidth: 1400px;
@page-marginhorizontal: 20px;
@page-marginhorizontal-tablet: 45px;
@page-marginhorizontal-desktop: 68px;
@page-marginvertical: 45px;
@page-marginvertical-tablet: 60px;
@page-marginvertical-desktop: 75px;

@page-breakpoint-tablet: @mobile-large;
@page-breakpoint-desktop: @tablet-portrait;


// page margins

.page-max-width {
    max-width:@page-maxwidth;
    margin-left:auto;
    margin-right:auto;
}

.page-width {
    width:@page-maxwidth;
}

.page-half-width {
    width:@page-maxwidth/2;
}

.page-half-max-width {
    max-width:@page-maxwidth/2;
}


// mobile

.page-margin-top {
    margin-top: @page-marginvertical;
}

.page-margin-right {
    margin-right: @page-marginhorizontal;
}

.page-margin-bottom {
    margin-bottom: @page-marginvertical;
}

.page-margin-left {
    margin-left: @page-marginhorizontal;
}

.page-padding-top {
    padding-top: @page-marginvertical;
}

.page-padding-right {
    padding-right: @page-marginhorizontal;
}

.page-padding-bottom {
    padding-bottom: @page-marginvertical;
}

.page-padding-left {
    padding-left: @page-marginhorizontal;
}

.page-padding-top--small {
    padding-top: @page-marginvertical/2;
}

.page-padding-right--small {
    padding-right: @page-marginhorizontal/2;
}

.page-padding-bottom--small {
    padding-bottom: @page-marginvertical/2;
}

.page-padding-left--small {
    padding-left: @page-marginhorizontal/2;
}


// tablet

@media(min-width: @page-breakpoint-tablet) {

    .page-margin-top {
        margin-top: @page-marginvertical-tablet;
    }

    .page-margin-right {
        margin-right: @page-marginhorizontal-tablet;
    }

    .page-margin-bottom {
        margin-bottom: @page-marginvertical-tablet;
    }

    .page-margin-left {
        margin-left: @page-marginhorizontal-tablet;
    }

    .page-padding-top {
        padding-top: @page-marginvertical-tablet;
    }

    .page-padding-right {
        padding-right: @page-marginhorizontal-tablet;
    }

    .page-padding-bottom {
        padding-bottom: @page-marginvertical-tablet;
    }

    .page-padding-left {
        padding-left: @page-marginhorizontal-tablet;
    }

    .page-padding-top--small {
        padding-top: @page-marginvertical-tablet/2;
    }

    .page-padding-right--small {
        padding-right: @page-marginhorizontal-tablet/2;
    }

    .page-padding-bottom--small {
        padding-bottom: @page-marginvertical-tablet/2;
    }

    .page-padding-left--small {
        padding-left: @page-marginhorizontal-tablet/2;
    }
}


// desktop

@media(min-width: @page-breakpoint-desktop) {

    .page-margin-top {
        margin-top: @page-marginvertical-desktop;
    }

    .page-margin-right {
        margin-right: @page-marginhorizontal-desktop;
    }

    .page-margin-bottom {
        margin-bottom: @page-marginvertical-desktop;
    }

    .page-margin-left {
        margin-left: @page-marginhorizontal-desktop;
    }

    .page-padding-top {
        padding-top: @page-marginvertical-desktop;
    }

    .page-padding-right {
        padding-right: @page-marginhorizontal-desktop;
    }

    .page-padding-bottom {
        padding-bottom: @page-marginvertical-desktop;
    }

    .page-padding-left {
        padding-left: @page-marginhorizontal-desktop;
    }

    .page-padding-top--small {
        padding-top: @page-marginvertical-desktop/2;
    }

    .page-padding-right--small {
        padding-right: @page-marginhorizontal-desktop/2;
    }

    .page-padding-bottom--small {
        padding-bottom: @page-marginvertical-desktop/2;
    }

    .page-padding-left--small {
        padding-left: @page-marginhorizontal-desktop/2;
    }
}


// extend to horizontal/vertical helper classes

.page-margin-horizontal {
    &:extend(.page-margin-left);
    &:extend(.page-margin-right);
}

.page-margin-vertical {
    &:extend(.page-margin-top);
    &:extend(.page-margin-bottom);
}

.page-margin {
    &:extend(.page-margin-left);
    &:extend(.page-margin-right);
    &:extend(.page-margin-top);
    &:extend(.page-margin-bottom);
}

.page-padding-horizontal {
    &:extend(.page-padding-left);
    &:extend(.page-padding-right);
}

.page-padding-vertical {
    &:extend(.page-padding-top);
    &:extend(.page-padding-bottom);
}

.page-padding {
    &:extend(.page-padding-left);
    &:extend(.page-padding-right);
    &:extend(.page-padding-top);
    &:extend(.page-padding-bottom);
}

.page-padding-horizontal--small {
    &:extend(.page-padding-left--small);
    &:extend(.page-padding-right--small);
}

.page-padding-vertical--small {
    &:extend(.page-padding-top--small);
    &:extend(.page-padding-bottom--small);
}

.page-padding--small {
    &:extend(.page-padding-left--small);
    &:extend(.page-padding-right--small);
    &:extend(.page-padding-top--small);
    &:extend(.page-padding-bottom--small);
}


// inset margins

@media(min-width:@desktop) {
    .page-inset {
        padding-left:@page-marginhorizontal-desktop;
        padding-right:@page-marginhorizontal-desktop;
    }   
}

@media(min-width:@desktop-large) {
    .page-inset {
        padding-left:@page-marginhorizontal-desktop * 3;
        padding-right:@page-marginhorizontal-desktop * 3;
    }   
}