
// font rendering

html {
	font-size-adjust: auto;
	text-rendering: optimizeLegibility;
}


// blockquote

blockquote, blockquote p {
  hanging-punctuation: first;
}

blockquote {
	margin:1em 0 1em 0;
}

address {
	font-style:normal;
}

hr {
	text-align: left;
}