// default settings

@button-size-small: 0.8rem;
@button-size-normal: 1rem;
@button-size-large: 1.5rem;


// reset

.button {
	outline:0;
}


// button types

.button {
	font-size:@button-size-normal;
	text-decoration:none;
	display:inline-block;
}


// sizes

.button--small {
	font-size:@button-size-small;
}

.button--large {
	font-size:@button-size-large;
}


// button types

.button--primary {}

.button--secondary {}


// helpers

.button--bold {
	font-weight:bold;
}

.button--caps {
	text-transform: uppercase;
}