/*
	# page padding sizes
	.page-max-width
	.page-{margin|padding}-{top|right|bottom|left}
	.page-{margin|padding}-{top|right|bottom|left}--small
	.page-{margin|padding}-{vertical|horizontal}
	.page-{margin|padding}-{vertical|horizontal}--small
	.page-inset
*/
@page-maxwidth: 1400px;
@page-marginhorizontal: 20px;
@page-marginhorizontal-tablet: 45px;
@page-marginhorizontal-desktop: 68px;
@page-marginvertical: 45px;
@page-marginvertical-tablet: 60px;
@page-marginvertical-desktop: 75px;

@page-breakpoint-tablet: @mobile-large;
@page-breakpoint-desktop: @tablet-portrait;